@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{   
    width: 1000px;
    background-color: antiquewhite;
    padding: 0 20px;
    min-height: 100dvh;

}
span
{
    font-size: larger;
    font-weight: 500;
}
div
{
    margin-bottom: 20px;
}
.info
{
display: flex;
justify-content: space-between;
gap: 20px;
color: rgb(41, 41, 87);
}
.summary
{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.Projects
{
    margin-top: 40px;
}
.Projects h2
{
    text-decoration: underline;
}
table
{
    width: 100%;
    border: 5px solid black;
}
tr,th,td
{
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px ;
}